/* Adjusting layout for sidebar and main content */
.app-content {
    display: flex;
  }
  
  .sidebar {
    width: 250px; /* Set the width of the sidebar */
    position: fixed;
    top: 60px; /* Adjust according to your navbar height */
    bottom: 0;
    left: 0;
    background-color: #f4f4f4;
    padding-top: 20px; /* Space for the top of the sidebar */
  }
  
  .main-content {
    margin-left: 250px; /* Space to avoid overlap with the sidebar */
    padding: 20px;
    flex-grow: 1;
  }
  